body{
    background-color: #ffffff;
    overflow-x: hidden;
}

#nav{
    background-color: whitesmoke;
    font-family: "Anta";

    
}
.navbarNav{
    display: flex;
    justify-content: end;
    
    
}
#resume{
   margin-top: -1%;
   margin-bottom: -1.5%;
}

.image-round{
    border-radius: 50%;
    border: black solid 2px;
    object-fit: cover;
    overflow: hidden;
    transition:.5s ease-in-out; 
}
.image-round:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

