body{
    background-color: #ffffff;
    overflow-x: hidden;
}

#nav{
    background-color: whitesmoke;
    font-family: "Anta";

    
}
.navbarNav{
    display: flex;
    justify-content: end;
    
    
}
#resume{
   margin-top: -1%;
   margin-bottom: -1.5%;
}

.heading{
    border-bottom: black solid 2px;
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2200ms;
  }
  
.hidden-right {
    opacity: 0;
    filter: blur(5px);

    transform: translateX(+100%);
    transition: all 1000ms;
  }  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
