@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #ffffff;
    overflow-x: hidden;
}

a{
    color:white;
}

#nav{
    background-color: whitesmoke;
    font-family: "Anta";

    
}
.navbarNav{
    display: flex;
    justify-content: end;
    
    
}
#resume{
   margin-top: -1%;
   margin-bottom: -1.5%;
}

/* hero-section */
.hero{
    font-family: "Poppins";
}




.image--cover {
 
    transition: .6s ease;

   
    
  }

.image--cover:hover {
    width: 350px;
    height: 350px;
  
    object-fit: fill;

    object-position: center right;
    transform: scale(1.5);
  }
/* hero-section */


/* about-section */
.about{
    border-bottom: black solid 2px;
}

.image-about{
    transition: .6s ease;
}
.image-about:hover{
    object-fit: fill;
    object-position: center right;
    -webkit-filter: grayscale(70%); 
    filter: grayscale(70%);
}

/* about-section */


/* miscellaneous */


.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2200ms;
  }

.hidden-right {
    opacity: 0;
    filter: blur(5px);

    transform: translateX(+100%);
    transition: all 1000ms;
  }  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  /* movement */
