@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

body{
    background-color: #F1FADA;
    
}

#nav{
    background-color: whitesmoke;
    font-family: "Anta";
}
#navbarNav{
    display: flex;
    justify-content: end;
}
#resume{
   margin-top: -1%;
   margin-bottom: -1.5%;
}

/* hero-section */
.hero{
    border: #265073 solid 2px;
    border-radius: 2%;
}

/* NAMASTE */
.hello{
    font-family: "JetBrains Mono", monospace;
}
.closure{
    color: #e4bb68;

}
.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
/* NAMASTE */


.image--cover {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .6s ease;
    object-position: center right;
  }

.image--cover:hover {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
    object-position: center right;
  }
/* skills-content */
