
body{
    background-color: #ffffff;
    
}

#nav{
    background-color: whitesmoke;
    font-family: "Anta";
}
#navbarNav{
    display: flex;
    justify-content: end;
}
#resume{
   margin-top: -1%;
   margin-bottom: -1.5%;
}

/* hero-section */
.hero{
    font-family: JetBrains Mono;
}




.image--cover {
 
    transition: .6s ease;

   
    
  }

.image--cover:hover {
    width: 350px;
    height: 350px;
  
    object-fit: fill;

    object-position: center right;
    transform: scale(1.5);
  }
/* hero-section */


/* about-section */
.about{
    border-bottom: black solid 2px;
}

.image-about{
    transition: .6s ease;
}
.image-about:hover{
    object-fit: fill;
    object-position: center right;
    -webkit-filter: grayscale(70%); 
    filter: grayscale(70%);
}

/* about-section */


/* miscellaneous */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2200ms;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }